{% extends "layout.html" %}
{% block body %}
  <h2>Overview</h2>
  {% if g.user %}
  <p>
    Hello {{ g.user.name }}!
  {% endif %}
  <p>
    Need to put information here to to show that it is possible. I hope this stays between you and me.
{% endblock %}
