<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MoodRat SSO environment using OpenID</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
<h1>MoodRat OpenID SSO environment</h1>
<ul class=navigation>
  <li><a href="{{ url_for('index') }}">Overview</a>
  <li><a href="http://dev.moodrat.nl/">MoodRat Development</a>
  {% if g.user %}
  <li><a href="{{ url_for('edit_profile') }}">Profile</a>
  <li><a href="{{ url_for('logout') }}">Sign out [{{ g.user.name }}]</a>
  {% else %}
  <li><a href="{{ url_for('login') }}">Sign in</a>
  {% endif %}
</ul>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
{% block body %}{% endblock %}
