h1 a:link {
    color: black;
    text-decoration: none;
}
h1 a:visited {
    color: black;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: underline;
}
body {
    font-family: verdana,sans-serif;
    width: 50em;
    margin: 1em;
}
div {
    padding: .5em;
}
table {
    margin: none;
    padding: none;
}
.banner {
    padding: none 1em 1em 1em;
    width: 100%%;
}
.leftbanner {
    text-align: left;
}
.rightbanner {
    text-align: right;
    font-size: smaller;
}
.error {
    border: 1px solid #ff0000;
    background: #ffaaaa;
    margin: .5em;
}
.message {
    border: 1px solid #2233ff;
    background: #eeeeff;
    margin: .5em;
}
.form {
    border: 1px solid #777777;
    background: #ddddcc;
    margin: .5em;
    margin-top: 1em;
    padding-bottom: 0em;
}
dd {
    margin-bottom: 0.5em;
}
